@layout AuthLayout
@page "/register"
@using System.ComponentModel.DataAnnotations
@inject NavigationManager Navigator

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Register</h3>
                    <EditForm Model="@registerModel" OnValidSubmit="@RegisterSubmit">
                        <DataAnnotationsValidator />

                        <div class="mb-3">
                            <label for="name">Name</label>
                            <InputText id="name" class="form-control" @bind-Value="registerModel.Name" />
                            <ValidationMessage For="@(() => registerModel.Name)" class="text-danger" />
                        </div>

                        <div class="mb-3">
                            <label for="email">Email address</label>
                            <InputText id="email" class="form-control" @bind-Value="registerModel.Email" />
                            <ValidationMessage For="@(() => registerModel.Email)" class="text-danger" />
                        </div>

                        <div class="mb-3">
                            <label for="password">Password</label>
                            <InputText type="password" id="password" class="form-control" @bind-Value="registerModel.Password" />
                            <ValidationMessage For="@(() => registerModel.Password)" class="text-danger" />
                        </div>

                        <div class="mb-3">
                            <label for="repassword">Re-Password</label>
                            <InputText type="password" id="repassword" class="form-control" @bind-Value="registerModel.RePassword" />
                            <ValidationMessage For="@(() => registerModel.RePassword)" class="text-danger" />
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-success">Register</button>
                            <button type="button" class="btn btn-secondary" @onclick="ToLogin">Login</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private RegisterModel registerModel = new RegisterModel();

    private void RegisterSubmit()
    {
        //

    }

    private void ToLogin()
    {
        Navigator.NavigateTo("/");
    }
}
